.container {
  width: 300px;
  height: 200px;
  margin: 0px auto;
  margin-top: 20px;
}

.input {
  border-style: none;
  outline: none;
  background: none;
}

.icon {
  float: right;
  margin-top: 7px;
  cursor: pointer;
  color: green;
}

h1 {
  text-align: center;
}

.borrar {
  float: right;
}

/* .check-task {
  margin-right: 15px;
} */

.custom-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
  top: 2px;
  right: 8px;
}

.check-task {
  display: none;
}

.checkmark {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.fa-check {
  display: none;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todo-name {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

.basura {
  cursor: pointer;
}
